body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.header-container,
.footer-container{
    text-align: center;
    display: flex;
}

.header-container{
    font-size: 4em;
    align-items: center;
    justify-content: center;
    flex: 1.4;
}

.footer-container{
    flex:1;
    font-size: 1.25em;
    margin-top: auto;
    flex-direction: column;
    justify-content: center;
}

.middle-container{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1 1 0;
    gap: 1.2em;
}

.middle-top-container{
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
    flex: 1;
}

.middle-bottom-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 16px;
    min-width: 125px;
    min-height: 60px;
}

.sketch-box-row-container{
    display: flex; 
    flex-direction:column; 
    flex:1 1 0;
}

.sketch-box{
    margin-right: 1px; 
    margin-bottom: 1px; 
    border: 0.1rem solid black; 
    flex: 1 1 0;
}

#sketch-box-container-div{
    display: flex; 
    width: 38em; 
    height: 38em;
}

.sketch-box-hover{
    background-color: black; 
    margin-right: 1px; 
    margin-bottom: 1px; 
    border: 0.1rem solid black; 
    flex:1 1 0;
}