body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.header-container,
.footer-container{
    text-align: center;
    display: flex;
    flex: 1 1 0;
}

.header-container{
    font-size: 4em;
    align-items: center;
    justify-content: center;
}

.footer-container{
    font-size: 1.25em;
    margin-top: auto;
    align-items: flex-end;
    gap: .125em;
    margin-bottom: .75em;
}

.middle-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex: 1 1 0;
}

.middle-left-container{
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex: 1;
}

.middle-right-container{
    flex: 1;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 16px;
    width: 150px;
}

.sketch-box-row-container{
    display: flex; 
    flex-direction:column; 
    flex:1 1 0;
}

.sketch-box{
    margin-right: 1px; 
    margin-bottom: 1px; 
    border: 0.1rem solid black; 
    flex: 1 1 0;
}

#sketch-box-container-div{
    display: flex; 
    width:500px; 
    height: 500px;
}

.sketch-box-hover{
    background-color: black; 
    margin-right: 1px; 
    margin-bottom: 1px; 
    border: 0.1rem solid black; 
    flex:1 1 0;
}